# Dependencies
node_modules/

# Environment variables (PENTING: Jangan upload kunci rahasia/password)
.env
.env.local

# WhatsApp Session (PENTING: Jangan upload sesi WA)
.wwebjs_auth/
.wwebjs_cache/
session/
auth_info_baileys/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db